In [1]:
name = ['Hoka Clifton 8', 'Brooks Adrenaline GTS 22', 'Ryka Women\'s Devotion Plus 4 Walking Shoe',
        'Nike Women\'s Pegasus 39', 'Asics Gel-Excite 9', 'Hoka Women\'s Bondi 8',
        'Asics Women\'s GT-2000 10 Running Shoes']
material = ['Mesh', 'Recycled plastic bottle',
            'mesh', 'MESH', 'Mesh', 'Mesh', 'Knit']
weight = ['7.2 ounces', '10.2 ounces', '7.4 ounces',
          '9.6 ounces', '7.7 ounces', '8.9 ounces', '8.4 ounces']
price = ['$140', '$132', '$92', '$130', '$75', '$165', '$130']

1. `material` 리스트의 원소들을 소문자로 변경하기
    - 소재는 크게 3종류의 데이터로 이루어져 있습니다.(범주형 변수) 하지만 메쉬 소재의 경우 `mesh` , `MESH` , `Mesh` 로 다양하게 표현되고 있습니다. 3가지의 표기법을 통일시켜 주어야 하겠네요!

In [2]:
import pandas as pd

dic = {}
dic['name'] = name
dic['material'] = material
dic['weight'] = weight
dic['price'] = price

df = pd.DataFrame.from_dict(dic)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7 non-null      object
 1   material  7 non-null      object
 2   weight    7 non-null      object
 3   price     7 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes

In [3]:
df.head(10)

,name,material,weight,price
0,Hoka Clifton 8,Mesh,7.2 ounces,$140
1,Brooks Adrenaline GTS 22,Recycled plastic bottle,10.2 ounces,$132
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4 ounces,$92
3,Nike Women's Pegasus 39,MESH,9.6 ounces,$130
4,Asics Gel-Excite 9,Mesh,7.7 ounces,$75
5,Hoka Women's Bondi 8,Mesh,8.9 ounces,$165
6,Asics Women's GT-2000 10 Running Shoes,Knit,8.4 ounces,$130

In [4]:
df.material = df.material.apply(lambda x: x.lower())
df.material = df.material.astype('category')
df

,name,material,weight,price
0,Hoka Clifton 8,mesh,7.2 ounces,$140
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2 ounces,$132
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4 ounces,$92
3,Nike Women's Pegasus 39,mesh,9.6 ounces,$130
4,Asics Gel-Excite 9,mesh,7.7 ounces,$75
5,Hoka Women's Bondi 8,mesh,8.9 ounces,$165
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4 ounces,$130

2. `weight` 리스트의 ‘ounces’ 제거하고 숫자만 남기기
    - 무게 정보는 숫자로 이루어져 있습니다. (연속형 변수) 하지만 수집한 데이터에서는 ‘ounces’라는 단위가 붙어 숫자 자료형으로 취급할 수 없는 상태입니다. ‘ounces’를 제거하고 숫자만 남겨서 다루기 쉽게 변형시켜 봅시다.

In [5]:
df.weight = df.weight.apply(lambda x: float(x.split()[0]))
df

,name,material,weight,price
0,Hoka Clifton 8,mesh,7.2,$140
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,$132
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,$92
3,Nike Women's Pegasus 39,mesh,9.6,$130
4,Asics Gel-Excite 9,mesh,7.7,$75
5,Hoka Women's Bondi 8,mesh,8.9,$165
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4,$130

3.  `price` 리스트의 ‘$’ 제거하고 숫자만 남기기
    - 가격 정보도 마찬가지로 연속형 변수입니다. ‘$’를 제거하고 숫자만 남겨서 다루기 쉽게 변형시켜 봅시다.

In [6]:
df.price = df.price.apply(lambda x: int(x[1:]))
df

,name,material,weight,price
0,Hoka Clifton 8,mesh,7.2,140
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,132
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,92
3,Nike Women's Pegasus 39,mesh,9.6,130
4,Asics Gel-Excite 9,mesh,7.7,75
5,Hoka Women's Bondi 8,mesh,8.9,165
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4,130

4. `brand` 리스트 만들기
    - 수집한 데이터로부터 다양한 데이터의 표현을 이끌어내는 것도 때로는 중요합니다. 현재 데이터에서는 이름 정보로부터 신발 브랜드를 추측할 수 있을 것 같습니다. 이름의 첫 번째 단어만 가지고 `brand` 라는 새로운 정보를 만들어 봅시다.

In [7]:
df['brand'] = df.name.apply(lambda x: x.split()[0])
df

,name,material,weight,price,brand
0,Hoka Clifton 8,mesh,7.2,140,Hoka
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,132,Brooks
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,92,Ryka
3,Nike Women's Pegasus 39,mesh,9.6,130,Nike
4,Asics Gel-Excite 9,mesh,7.7,75,Asics
5,Hoka Women's Bondi 8,mesh,8.9,165,Hoka
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4,130,Asics

#### 만든 데이터프레임의 최종 출력, 정보 확인

In [8]:
df

,name,material,weight,price,brand
0,Hoka Clifton 8,mesh,7.2,140,Hoka
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,132,Brooks
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,92,Ryka
3,Nike Women's Pegasus 39,mesh,9.6,130,Nike
4,Asics Gel-Excite 9,mesh,7.7,75,Asics
5,Hoka Women's Bondi 8,mesh,8.9,165,Hoka
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4,130,Asics

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7 non-null      object
 1   material  7 non-null      category
 2   weight    7 non-null      float64
 3   price     7 non-null      int64
 4   brand     7 non-null      object
dtypes: category(1), float64(1), int64(1), object(2)
memory usage: 491.0+ bytes

#### weight 오름차순 정렬

In [10]:
df.sort_values(by=['weight'])

,name,material,weight,price,brand
0,Hoka Clifton 8,mesh,7.2,140,Hoka
2,Ryka Women's Devotion Plus 4 Walking Shoe,mesh,7.4,92,Ryka
4,Asics Gel-Excite 9,mesh,7.7,75,Asics
6,Asics Women's GT-2000 10 Running Shoes,knit,8.4,130,Asics
5,Hoka Women's Bondi 8,mesh,8.9,165,Hoka
3,Nike Women's Pegasus 39,mesh,9.6,130,Nike
1,Brooks Adrenaline GTS 22,recycled plastic bottle,10.2,132,Brooks

#### price 오름차순 정렬, 저렴한 것부터 이름 출력 (값이 같을경우 이름은 알파벳순서대로 출력함)

In [11]:
df.sort_values(by=['price', 'name']).loc[:, ['name', 'price']]

                                        name  price
4                         Asics Gel-Excite 9     75
2  Ryka Women's Devotion Plus 4 Walking Shoe     92
6     Asics Women's GT-2000 10 Running Shoes    130
3                    Nike Women's Pegasus 39    130
1                   Brooks Adrenaline GTS 22    132
0                             Hoka Clifton 8    140
5                       Hoka Women's Bondi 8    165